@charset "UTF-8";
/*Import provenant du dossier GENERAL*/
/*Règle de base du CSS*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 20px;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
  font-weight: 500;
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 30px;
  line-height: 1.5;
}

@media (min-width: 1440px) {
  .container {
    padding: 0 100px;
  }
  .container-deux {
    padding: 0 150px;
  }
}
/*Import provenant du dossier UTILS*/
/*Import provenant du dossier COMPONENTS*/
.button {
  height: 50px;
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 0 20px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  cursor: pointer;
}

a:hover > .button {
  background: linear-gradient(200.64deg, #a072d8 -5.2%, #fb98df 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

.restaurants-card > h2 {
  margin-bottom: 30px;
}

.card-restaurants {
  height: 250px;
  width: 100%;
  background-color: #EAEAEA;
}

.image-card {
  position: relative;
  height: 175px;
  width: 100%;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.image-card .img-cover {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.image-card .new {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
  padding: 4px;
  border-radius: 2px;
  border: 1px solid #008766;
  background-color: #99e2d0;
  color: #008766;
  font-size: 14px !important;
}

.text-card {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  margin-bottom: 20px;
  position: relative;
}
.text-card .titre-card {
  margin-left: 20px;
}
.text-card .icone-card {
  margin-right: 20px;
  position: absolute;
  right: 2%;
  bottom: 30%;
}
.text-card .p-notbold {
  font-weight: 300;
}
.text-card .heart {
  width: 20px;
  height: 20px;
}

.heart-full {
  opacity: 0;
  transition: 0.5s ease-out;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart-full:hover {
  transition: 0.5s ease-in;
  opacity: 1;
}

/*Import provenant du dossier LAYOUT*/
.head-of-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.head-of-page h1 {
  font-family: "Shrikhand", serif;
  font-size: 30px;
}
.head-of-page p {
  font-size: 16px;
}
.head-of-page .localisation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-omf {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 63px;
  z-index: 1;
  text-align: center;
  box-shadow: 0px 3px 5px rgb(180, 179, 179);
  background-color: white;
}

.square-ville {
  padding-top: 15px;
  z-index: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #EAEAEA;
  box-shadow: 0px 7px 5px rgb(180, 179, 179);
}

.reserved {
  display: flex;
  justify-content: center;
  gap: 35px;
  width: 100%;
  height: 350px;
  padding: 50px 20px;
  z-index: -1;
  gap: 30px;
  flex-direction: column;
  background-color: #F3F3F3;
}
.reserved h2 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.reserved p {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

@media (min-width: 1440px) {
  .reserved h2 {
    font-size: 40px;
  }
}
/*FONCTIONNEMENT SECTION*/
.fonctionnement > h2 {
  margin-top: 45px;
}

.etapes {
  margin: 30px 0;
}
.etapes .square {
  width: 100%;
  height: 75px;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgb(180, 179, 179);
}
.etapes .chiffre {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 90px;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  color: #fff;
  margin-left: -11px;
  margin-right: 15px;
}
.etapes .text-fonction {
  display: flex;
  align-items: center;
}
.etapes .square > .text-fonction > p {
  margin-left: 20px;
}

.bx-phone, .bx-list-ul, .bxs-store {
  color: #7e7e7e;
}

.test {
  transition: 0.3s ease-out;
}

.etapes {
  cursor: pointer;
}

.etapes:hover .test {
  color: #9356DC;
  transition: 0.3s ease-in;
}

.center-btn {
  display: flex;
  justify-content: center;
}

.button {
  width: 100%;
}

/*RESTAURANT SECTION*/
.restaurants-card {
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #EAEAEA;
}

@media (min-width: 768px) {
  .fonctionnement {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 4.8%;
    grid-template-rows: 2;
  }
  .fonctionnement .zero {
    grid-column: 1;
    grid-row: 1;
  }
  .fonctionnement .un {
    grid-column: 1;
    grid-row: 2;
  }
  .fonctionnement .deux {
    grid-column: 2;
    grid-row: 2;
  }
  .fonctionnement .trois {
    grid-column: 3;
    grid-row: 2;
  }
  .restaurants-card {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    column-gap: 5%;
    row-gap: 3%;
    grid-template-rows: 3;
  }
  .restaurants-card .zero-card {
    grid-column: 1;
    grid-row: 1;
  }
  .restaurants-card .one-card {
    grid-column: 1;
    grid-row: 2;
  }
  .restaurants-card .two-card {
    grid-column: 2;
    grid-row: 2;
  }
  .restaurants-card .three-card {
    grid-column: 1;
    grid-row: 3;
  }
  .restaurants-card .four-card {
    grid-column: 2;
    grid-row: 3;
    margin-bottom: 30px;
  }
}
.titre-footer {
  font-family: "Shrikhand", serif;
  font-size: 18px;
  padding: 20px 0 10px 0;
}

.inline-footer {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.notbold {
  font-weight: 400;
}

@media (min-width: 768px) {
  .grid-footer {
    display: grid;
    justify-content: end;
    column-gap: 5%;
    grid-template-columns: 90% 10%;
    grid-template-rows: 1;
  }
  .grid-footer .titre-footer {
    grid-column: 2;
    grid-row: 1;
    padding: 0px;
    align-items: center;
  }
  .grid-footer .grid-footer-label {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    align-items: center;
    justify-content: end;
    column-gap: 3%;
    grid-template-columns: auto auto auto auto;
    grid-row: 1;
  }
  .grid-footer .grid-footer-label .footer-un {
    grid-column: 1;
    grid-row: 1;
  }
  .grid-footer .grid-footer-label .footer-deux {
    grid-column: 2;
    grid-row: 1;
  }
  .grid-footer .grid-footer-label .footer-trois {
    grid-column: 3;
    grid-row: 1;
  }
  .grid-footer .grid-footer-label .footer-quatre {
    grid-column: 4;
    grid-row: 1;
  }
  .notbold {
    padding: 0px;
  }
}
/*@import 'layout/animations';*//*# sourceMappingURL=main.css.map */