@charset "UTF-8";
/*Import provenant du dossier GENERAL*/
/*Règle de base du CSS*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 20px;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
  font-weight: 500;
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 30px;
  line-height: 1.5;
}

/*Import provenant du dossier UTILS*/
/*Import provenant du dossier COMPONENTS*/
.button {
  height: 50px;
  border-radius: 30px;
  border: none;
  background-color: #9356DC;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 0 20px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  cursor: pointer;
}

.restaurants-card > h2 {
  margin-bottom: 30px;
}

.card-restaurants {
  height: 250px;
  width: 100%;
  background-color: #EAEAEA;
}

.image-card {
  position: relative;
  height: 175px;
  width: 100%;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.image-card .img-cover {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.image-card .new {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
  padding: 4px;
  border-radius: 2px;
  border: 1px solid #008766;
  background-color: #99e2d0;
  color: #008766;
  font-size: 14px !important;
}

.text-card {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  margin-bottom: 20px;
  position: relative;
}
.text-card .titre-card {
  margin-left: 20px;
}
.text-card .icone-card {
  margin-right: 20px;
  position: absolute;
  right: 2%;
  bottom: 30%;
}
.text-card .p-notbold {
  font-weight: 300;
}
.text-card .heart {
  width: 20px;
  height: 20px;
}

.heart-full {
  color: #9356DC;
  opacity: 0;
  transition: 0.5s ease-out;
}

.heart-full:hover {
  transition: 0.5s ease-in;
  opacity: 1;
}

/*Import provenant du dossier LAYOUT*/
.head-of-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.head-of-page h1 {
  font-family: "Shrikhand", serif;
  font-size: 30px;
}
.head-of-page p {
  font-size: 16px;
}
.head-of-page .localisation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-omf {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 63px;
  z-index: 1;
  text-align: center;
  box-shadow: 0px 3px 5px rgb(180, 179, 179);
  background-color: white;
}

.square-ville {
  padding-top: 15px;
  z-index: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #EAEAEA;
  box-shadow: 0px 7px 5px rgb(180, 179, 179);
}

.reserved {
  display: flex;
  justify-content: center;
  gap: 35px;
  width: 100%;
  height: 350px;
  padding: 50px 20px;
  z-index: -1;
  gap: 30px;
  flex-direction: column;
  background-color: #F3F3F3;
}
.reserved h2 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.reserved p {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.bx-phone, .bx-list-ul, .bxs-store {
  color: #7e7e7e;
}

.test {
  transition: 0.3s ease-out;
}

.etapes {
  cursor: pointer;
}

.etapes:hover .test {
  color: #9356DC;
  transition: 0.3s ease-in;
}

.center-btn {
  display: flex;
  justify-content: center;
}

.button {
  width: 100%;
}

/*FONCTIONNEMENT SECTION*/
.fonctionnement > h2 {
  margin-top: 45px;
}

.etapes {
  margin: 30px 0;
}
.etapes .square {
  width: 100%;
  height: 75px;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgb(180, 179, 179);
}
.etapes .chiffre {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 90px;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  color: #fff;
  margin-left: -11px;
  margin-right: 15px;
}
.etapes .text-fonction {
  display: flex;
  align-items: center;
}
.etapes .square > .text-fonction > p {
  margin-left: 20px;
}

/*RESTAURANT SECTION*/
.restaurants-card {
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #EAEAEA;
}

.titre-footer {
  font-family: "Shrikhand", serif;
  font-size: 18px;
  padding: 20px 0 10px 0;
}

.inline-footer {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.notbold {
  font-weight: 400;
  padding-bottom: 20px;
}

/*LOADER*/
.circle-container {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  animation: spin-container 3s linear forwards;
}
.circle-container .circle {
  border: 10px solid rgba(153, 226, 208, 0.4);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /*placement loader en milieu de page*/
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.circle-container .circle__loader::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  bottom: -10px;
  right: -10px;
  border: 10px solid transparent;
  border-top-color: #9356DC;
  border-radius: 50%;
  animation: spin 1s linear 3;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-container {
  0% {
    opacity: 1;
    z-index: 9999;
  }
  98% {
    opacity: 1;
    z-index: 9999;
  }
  100% {
    opacity: 0;
    z-index: -9999;
  }
}
/*SLIDE UP RESTAURANTS*/
.slide-up-one {
  animation: 0.5s ease-in slide-up-one;
}

.slide-up-two {
  animation: 1.5s ease-in slide-up-two;
}

.slide-up-three {
  animation: 3s ease-in slide-up-two;
}

@keyframes slide-up-one {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-up-two {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */