@charset "UTF-8";
/*Import provenant du dossier GENERAL*/
/*Règle de base du CSS*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 20px;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
  font-weight: 500;
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 30px;
  line-height: 1.5;
}

.sizey {
  font-size: 20px;
  color: grey;
  width: 20px;
}

.sizeyy {
  font-size: 15px;
  width: 25px;
}

@media (min-width: 1440px) {
  .container {
    padding: 0 100px;
  }
  .container-deux {
    padding: 0 150px;
  }
  .sizeyy {
    width: 0px;
  }
}
/*Import provenant du dossier UTILS*/
/*Import provenant du dossier COMPONENTS*/
.button {
  height: 50px;
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 0 20px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  cursor: pointer;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3490196078);
  transition: ease-out 0.2s;
}

a:hover > .button {
  transition: ease-in 0.2s;
  background: linear-gradient(200.64deg, #a072d8 -5.2%, #fb98df 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

.heart-full {
  opacity: 0;
  transition: 0.5s ease-out;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart-full:hover {
  transition: 0.5s ease-in;
  opacity: 1;
}

/*Import provenant du dossier LAYOUT*/
.titre-footer {
  font-family: "Shrikhand", serif;
  font-size: 18px;
  padding: 20px 0 10px 0;
}

.inline-footer {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.notbold {
  font-weight: 400;
}

@media (min-width: 768px) {
  .grid-footer {
    display: grid;
    justify-content: end;
    column-gap: 5%;
    grid-template-columns: 90% 10%;
    grid-template-rows: 100%;
  }
  .grid-footer .titre-footer {
    grid-column: 2;
    grid-row: 1;
    padding: 0px;
    align-items: center;
  }
  .grid-footer .icone-footer {
    margin-left: 20px !important;
  }
  .grid-footer .grid-footer-label {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    align-items: center;
    justify-content: end;
    column-gap: 3%;
    grid-template-columns: auto auto auto auto;
    grid-row: 1;
  }
  .grid-footer .grid-footer-label .footer-un {
    grid-column: 1;
    grid-row: 1;
  }
  .grid-footer .grid-footer-label .footer-deux {
    grid-column: 2;
    grid-row: 1;
  }
  .grid-footer .grid-footer-label .footer-trois {
    grid-column: 3;
    grid-row: 1;
  }
  .grid-footer .grid-footer-label .footer-quatre {
    grid-column: 4;
    grid-row: 1;
  }
  .notbold {
    padding: 0px;
  }
}
/*LOADER*/
.circle-container {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  animation: spin-container 3s linear forwards;
}
.circle-container .circle {
  border: 10px solid rgba(153, 226, 208, 0.4);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /*placement loader en milieu de page*/
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.circle-container .circle__loader::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  bottom: -10px;
  right: -10px;
  border: 10px solid transparent;
  border-top-color: #9356DC;
  border-radius: 50%;
  animation: spin 1s linear 3;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-container {
  0% {
    opacity: 1;
    z-index: 9999;
  }
  98% {
    opacity: 1;
    z-index: 9999;
  }
  100% {
    opacity: 0;
    z-index: -9999;
  }
}
/*SLIDE UP RESTAURANTS*/
.slide-up-one {
  animation: 0.5s ease-in slide-up-one;
}

.slide-up-two {
  animation: 1.5s ease-in slide-up-two;
}

.slide-up-three {
  animation: 3s ease-in slide-up-two;
}

@keyframes slide-up-one {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-up-two {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*Import provenant du dossier PAGES*/
.head-of-page-restaurants {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  width: 100%;
}
.head-of-page-restaurants h1 {
  font-family: "Shrikhand", serif;
  font-size: 30px;
}
.head-of-page-restaurants .arrow-back {
  position: absolute;
  top: 15px;
  left: 10px;
}

.image-header {
  z-index: -1;
  height: 275px;
  width: 100%;
  overflow: hidden;
}
.image-header .image-cover-deux {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.menu {
  position: relative;
  background-color: #F6F6F6;
  padding: 40px 20px;
  border-radius: 30px 30px 0 0;
  margin-top: -60px;
  z-index: 0;
}

.title-and-heart-restaurant {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
}
.title-and-heart-restaurant h2 {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-style: italic;
}
.title-and-heart-restaurant .icone-card {
  display: flex;
  position: absolute;
  right: 3%;
  bottom: 16%;
  cursor: pointer;
}

.entrees {
  margin-top: 40px;
}
.entrees .underline {
  position: relative;
}
.entrees .underline-green {
  position: absolute;
  top: 22.5px;
  width: 12%;
  border-bottom: solid 3px #99e2d0;
}
.entrees .ex-menu {
  cursor: pointer;
  padding: 0 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
  height: 69px;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 0px 4px 15px rgb(180, 179, 179);
}
.entrees .ex-menu .notboldd {
  font-weight: 300;
  font-size: 15px;
}
.entrees .grow {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.entrees .prix {
  height: 100%;
  display: flex;
  align-items: end;
  text-overflow: ellipsis;
}
.entrees .prix p {
  margin-bottom: 12px;
  margin-right: 10px;
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
}

.center-btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.button {
  padding: 0 40px;
}

/*ANIMATION*/
.animation-square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60px;
  margin-right: -70px;
  border-radius: 0 15px 15px 0;
  background-color: #99e2d0;
  transition: 0.3s ease-out;
}

.ex-menu:hover .animation-square {
  transition: 0.3s ease-in;
  margin-right: -10px;
}

@media (min-width: 768px) {
  .container-deux {
    padding: 0 15%;
  }
  .menu {
    padding: 40px 20%;
  }
  .title-and-heart-restaurant {
    justify-content: center;
  }
  .title-and-heart-restaurant .icone-card {
    display: flex;
    position: sticky;
    margin-left: 15px;
  }
  .title-and-heart-restaurant .heart-regul {
    margin-right: -45px;
  }
}/*# sourceMappingURL=restaurants.css.map */