/*FONCTIONNEMENT SECTION*/
.fonctionnement > h2 {
    margin-top: 45px;
}

.etapes {
    margin: 30px 0;
    & .square {
        width: 100%;
        height: 75px;
        background-color: #EAEAEA;
        @include flex-center-vertical;
        border-radius: 20px;
        @include shadow;
    }
    & .chiffre {
        @include flex-center-hev;
        @include cercle;
        width: 24px;
        height: 24px;
        background-color: $violet;
        color: $white;
        margin-left: -11px;
    }
    & .text-fonction {
        @include flex-center-vertical;
    }
    & .square > .text-fonction > p {
        margin-left: 20px;
    }
}
/*RESTAURANT SECTION*/

.restaurants-card {
    margin-top: 50px;
    padding-top: 30px;
    background-color: #EAEAEA;
}