.button {
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: $violet;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 0 20px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    cursor: pointer;
}