@mixin flex-center-horizontal {
    display: flex;
    justify-content: center;
}

@mixin flex-center-vertical {
    display: flex;
    align-items: center;
}

@mixin flex-center-hev {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin font-shrikhand {
    font-family: "Shrikhand", serif;
}

@mixin cercle {
    border-radius: 90px;
}

@mixin shadow {
    box-shadow: 0px 4px 15px rgb(180, 179, 179);
}